.container {
  background-image: url('Tbg.webp');
  background-size: cover;
  height: 100vh;
  /* background-attachment: fixed; */
  }
  .box1{
    height: 10vh;
    width: 30vb;
    /* border: 3px solid #ccc; */
    margin-left: 1000px;
    /* margin-top: 30px; */
  }
  .box2{
    height: 10vh;
    width: 30vb;
    /* border: 3px solid #ccc; */
    margin-left: 1000px;
    /* margin-top: 30px; */
  }
  .box3{
    height: 10vh;
    width: 30vb;
    /* border: 3px solid #ccc; */
    margin-left: 1000px;
    /* margin-top: 30px; */
  }