.header {
      height: 150px;
      width: 100%;
      background-color: aqua;
  }
  
  .footer {
    background-image: url('footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
    display: flex;
  }
 
  
  
  
  
  
  
  
  
  
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  
  .button1 {
    margin: 10px;
    height: 45px;
    width: 115px;
    padding: 10px 20px;
    font-size: 1.2rem;
    /* order: -1; */
  }
  